<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet/less" type="text/css" href="./_css/style.less" />    
    <title>Less</title>
</head>
<body>
    <h1>Título</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos repellat ipsa, molestiae totam culpa eum facere, tempora quos voluptatum non at vero? Eum est nemo dolorem quaerat nostrum expedita dolorum.</p>
    
    <a href="/historia">História</a>
    
    <script src="https://cdn.jsdelivr.net/npm/less" ></script>
</body>
</html>